<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/Setting.css" />
		<script type="text/javascript">
			// 获取HTML的DOM
			var htmlDom = document.getElementsByTagName('html')[0];
			var htmlWidth = document.documentElement.clientWidth || document.body.clientWidth;
			// 设置html的fontsize
			htmlDom.style.fontSize = htmlWidth / 10 + 'px';
		</script>
	</head>

	<body>
		<div id="password">
			<header class="mui-bar mui-bar-nav">
				<a style="color: #fff;" class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
				<h1 class="mui-title" style="color: #fff;">修改密码</h1>
			</header>
			<div class="content">

				<div class="input-wapper flex-between margin-top15">
					<span>原密码：</span>
					<input type="password" v-model="original" placeholder="请输入旧密码" maxlength="16" />
				</div>
				<div class="input-wapper flex-between">
					<span>新密码：</span>
					<input type="password" v-model="newPassword" placeholder="请输入新密码" maxlength="16" />
				</div>
				<div class="input-wapper flex-between">
					<span>确定密码：</span>
					<input type="password" v-model="verifyPassword" placeholder="请再次输入新密码" maxlength="16" />
				</div>
				<div class="submit-button" @click="submitClick">完成</div>
			</div>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/vue.js"></script>
		<script type="text/javascript">
			var Password = new Vue({
				el: '#password',
				data: {
					original: '',
					newPassword: '',
					verifyPassword: ''
				},
				methods: {
					submitClick: function() {
						if(!this.original || !this.newPassword  || !this.verifyPassword) {
							mui.toast('请输入完整')
							return
						}
						if(this.newPassword == this.verifyPassword) {
								plus.nativeUI.confirm('修改密码成功！', function(e) {
									mui.back()
								});
							}else{
								mui.toast('设置的密码不一致')
							}
					}
				}
			})
			mui.init()
		</script>
	</body>

</html>