<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../css/ReportMatter.css" />
		<script type="text/javascript">
			// 获取HTML的DOM
			var htmlDom = document.getElementsByTagName('html')[0];
			var htmlWidth = document.documentElement.clientWidth || document.body.clientWidth;
			// 设置html的fontsize
			htmlDom.style.fontSize = htmlWidth / 10 + 'px';
		</script>
		<style type="text/css">
			html,
			body {
				position: relative;
				height: 100%;
			}
		</style>
	</head>

	<body>
		<div id="matter">
			<header class="mui-bar mui-bar-nav">
				<a style="color: #fff;" class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
				<h1 class="mui-title" style="color: #fff;">报事</h1>
			</header>

			<div class="content">
				<div class="header-location">
					<div class="locaticon">
						<div class="name"><span class="mui-icon mui-icon-map"></span>赛高国际</div>
						<div></div>
					</div>
				</div>
				<!--输入框-->
				<div class="mui-input-row padding15">
					<textarea id="textarea" @focus="focusClick" @blur="blurClick" rows="5" placeholder="请说明一下您遇到的问题…"></textarea>
				</div>
				<!--上传图片-->
				<div class="img-wapper padding15 bottom-underline">
					<div class="preview" v-for="(item,index) in listImg" v-if="listImg.length > 0">
						<i class="delete" @click="deleteClick(index)"></i>
						<img :src="item" :data-preview-src="item" data-preview-group="1">
					</div>
					<div class="button" @click="addImgClick"></div>
				</div>
				<!--录音-->
				<div class="record-wapper">
					<div class="record-item" v-for="(item,index) in recordList" @click="playAudio(item)">record {{index + 1}}</div>
				</div>
			</div>
			<!--底部按钮-->
			<div class="bottom-wapper" v-if="bottomWapper">
				<div class="record" id="record">
					<div class="record-btn">
						<img src="../images/luyin.png" alt="" />
					</div>
					<div class="record-text">
						按住 说话
					</div>
				</div>
				<div class="bottom-submit">提交</div>
			</div>

			<div class="mrk-record" @click="guanbi" v-if="sate"> 关闭</div>
		</div>
		<script src="../js/mui.min.js"></script>
		<script src="../js/vue.js"></script>
		<script src="../js/mui.zoom.js"></script>
		<script src="../js/mui.previewimage.js"></script>
		<script type="text/javascript">
			mui.init({
				gestureConfig: {
					tap: true, //默认为true
					doubletap: true, //默认为false
					longtap: true, //默认为false
					swipe: true, //默认为true
					drag: true, //默认为true
					hold: false, //默认为false，不监听
					release: true //默认为false，不监听
				}
			})

			var r = null
			var t = null
			var ri = null
			mui.plusReady(function() {
				r = plus.audio.getRecorder();
				var btn = document.getElementById("record")
				btn.addEventListener("longtap", function() {
					console.log("长按了");
					matter.sate = true
					startRecord()
				});

			})

			var matter = new Vue({
				el: "#matter",
				data: {
					sate: false,
					bottomWapper: true,
					recordList: [],
					listImg: []
				},
				methods: {
					addImgClick: function() {
						var that = this
						// 从相册中选择图片
						mui.toast('最多选择5张');
						plus.gallery.pick(function(e) {
							var lfs = e.files;
							that.listImg = e.files
						}, function(e) {
							mui.toast('取消选择图片');
						}, {
							filter: 'image',
							multiple: true,
							maximum: 5,
							system: false,
							onmaxed: function() {
								plus.nativeUI.alert('最多只能选择5张图片');
							}
						});
					},
					deleteClick: function(num) {
						console.log(num)
						this.listImg.splice(num, 1)
					},
					guanbi: function() {
						r.stop();
						this.sate = false
					},
					playAudio: function(text) {
						if(!text) {
							mui.toast('无效的音频文件');
							return;
						}
						console.log(text.name)
						startPlay('_doc/audio/' + text.name);
					},

					focusClick: function() {
						this.bottomWapper = false
					},

					blurClick: function() {
						this.bottomWapper = true
					}
				}
			})

			mui.previewImage();

			function startRecord() {
				if(r == null) {
					alert("Device not ready!");
					return;
				}
				r.record({
					filename: '_doc/audio/'
				}, function(p) { //真机测试文件在/sdcard/Android/data/io.dcloud.HBuilder/.HBuilder/apps/HBuilder/doc下面（.HBuilder是隐藏的，要查看隐藏的文件） 
					plus.io.resolveLocalFileSystemURL(p, function(entry) {
						matter.recordList.push(entry)
						console.log(matter.recordList)
					}, function(e) {
						outLine('读取录音文件错误：' + e.message);
					});
				}, function(e) {
					alert("Audio record failed: " + e.message);
				});
			}

			var p = null
			function startPlay(url) {
				p = plus.audio.createPlayer(url);
				p.play(function() {
					mui.toast('播放完成！');
					// 播放完成
				}, function(e) {
					mui.alert('播放音频文件"' + url + '"失败：' + e.message);
				});
			}
		</script>
	</body>

</html>